/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.input {
	border: 2px solid #4CAF50;
	color: red !important;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
}
